[submodule "submodules/exe"]
	path = submodules/exe
	url = git@github.com:Leined18/execution.git
[submodule "submodules/parse"]
	path = submodules/parse
	url = git@github.com:Leined18/parser.git
[submodule "submodules/memtrack"]
	path = submodules/memtrack
	url = git@github.com:Leined18/memtrack.git
[submodule "submodules/libft"]
	path = submodules/libft
	url = git@github.com:Leined18/Libft.git