[submodule "libft"]
	path = libft
	url = git@github.com:Leined18/Libft.git
[submodule "src/exe"]
	path = src/exe
	url = git@github.com:Leined18/execution.git
[submodule "src/parse"]
	path = src/parse
	url = git@github.com:Leined18/parser.git
[submodule "src/memtrack"]
	path = src/memtrack
	url = git@github.com:Leined18/memtrack.git
